{% extends "DrSolutionApp/index.html" %} {% load static %} {% block content %}
{% load crispy_forms_tags %} {% comment %}
<main class="page-center">
  {% endcomment %}
  <article class="sign-up" style="width: fit-content">
    <h1
      class="sign-up__title"
      style="margin-top: 30px; color: white; font-size: 24px"
    >
      Cambio de contraseña
    </h1>

    <form class="sign-up-form form" action="" method="POST">
      {% csrf_token %} {{form|crispy}}
      <button
        type="submit"
        class="form-btn primary-default-btn transparent-btn"
      >
        Cambiar Contraseña
      </button>
    </form>
  </article>
  {% comment %}
</main>
{% endcomment %} {% endblock content %}
